<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Informações do Portfolio
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar o portfolio</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/port/{$port.idport}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="port">Nome do titulo</label>
              <input type="text" class="form-control" id="desnome" name="desnome" placeholder="Digite o titulo" value="{$port.destitulo}">
            </div>

            <div class="form-group">
              <label for="port">Informações do Portfolio</label>
              <textarea class="form-control" id="destexto" name="destexto"  rows="10">{$port.destexto}</textarea>
              <!--
              <input type="text" class="form-control" id="destexto" name="destexto" placeholder="Digite a informação do portfolio" value="{$port.destexto}">-->
            </div>
           
          </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src = "https://cdn.tiny.cloud/1/ mj7xgnxyysmfooaw61pu1y8ymkf4d0wyf5t5zqo0f6wyvm40 /tinymce/5/tinymce.min.js"> </script>
<script>
tinymce.init({
     selector:'textarea',
     language: 'pt_BR'  // site absolute URL
});
</script>
